{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Detail
{% endblock %}

{% block body %}
    <h2>Wish Detail</h2>
    <div class="wish-details">
        <div class="wish-details-infos">
            <a href="{{ path('wish_update', {'id': wish.id}) }}"><button>Update</button></a>
            <h2>{{ wish.title }}</h2>
            <div>Description : {{ wish.description }}</div>
            <div>Author : {{ wish.author }}</div>
{#            <div>Is Published : {{ wish.isPublished }}</div>#}
            <div>Date Created : {{ wish.dateCreated | date('Y-m-d') }}</div>
            <div>Category : {{ wish.category.name }}</div>
        </div>
    </div>
{% endblock %}

